@{
    Styles.Render("~/Content/Chat");
    Scripts.Render("~/bundles/Chat")
}

<!-- Chat Container -->
<div id="chat-window">
    <div id="messages-container">

        <!-- Begin message -->
        <div id="message">
            <div id="message-name">Bubuchenko</div>
            <div id="message-division">WRR</div>
            <div id="message-time">10:41</div>
            <div id="message-content">
                <div id="message-tag">Outlook</div>
                <div id="message-text">Login issues</div>
            </div>
            <hr>
        </div>
        <!-- End message -->

    </div>

    <input type="text" placeholder="Typ hier een tekst..">

</div>