
@{
    ViewBag.Title = "Unauthorized";
    ViewBag.Icon = "fa fa-exclamation-circle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Je bent niet gemachtigd om deze pagina te bekijken</h2></center>

