abbr {
    border-bottom: none !important;
    text-decoration: none !important;
    margin-left: 5px;
    cursor: pointer;
}

hr {
    border-top: 1px dotted #8c8b8b;
}

.textbox-wrapper {
    width: 93%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.tag-display {
    margin: 0px;
}

.tag-word-active {
    background-color: #FD6400;
    border-top-left-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
    font-weight: 600;
    color: white;
}

#chat-window, #announcement-window {
    width: 100%;
    height: 100%;
}

.chat-filler {
    color: lightgray;
    height: 96%;
    text-align: center;
    padding-top: 104px;
}

.chat-filler > i {
    color: inherit;
    font-size: 100px;
    margin-top: 30px;
}

.chat-filler > p {
    margin-top: 40px;
    font-size: 25px;
}

#message {
    margin-bottom: 10px;
}

#message-name {
    display: inline-block;
    font-weight: bold;
    color: #009;
}

#message-division {
    font-size: smaller;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

#message-time {
    font-size: small;
    color: gray;
    float: right;
}

#message-content {
}

#message-tag {
    margin-top:5px;
    padding: 6px;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

#message-text {
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    overflow-wrap: break-word;
}
