#add-incident-button {
    margin: 0 auto;
}

#add-incident-button-container {
    width: 100%;
    display:inline-block;
    text-align:center;
}

.incident-separator {
    margin:0px;
    color: darkgray;
    opacity: 0.5;
}

.incident-container {
    margin-top: 10px;
    padding:5px;
}

.incident {
    margin:0px 0px 5px 0px;
    padding:10px;
    border-left: 5px solid #fd6400;
    font-size: 14px;
}

.incident-description {
    font-weight: bold;
    color: #009;
}

.incident-KM {
    display: inline-block;
    margin-right: 5px;
}

.incident-IM {
    display: inline-block;
    margin-right: 5px;
}

.incident-time {
    font-size: 10px;
    color: gray;
}

.incident .fa-trash {
    float: right;
    font-size: 15px;
    color: lightgray;
}

.incident .fa-trash:hover {
    cursor: pointer;
    color: red;
}