.sst-status-tile {
    overflow-y: hidden !important; 
    padding-bottom: 0px;
    margin-top:30px;
}

.sst-status-tile .fa {
    margin-top:5px;
}

.sst-status-tile i {
    z-index: 1;
    position: relative;
}

.sst-status-tile > .table {
    margin-top: 0px !important;
    font-size: 17px;
}

.sst-status-tile > .table > thead {
    border: none;
}

.sst-status-tile > .table > thead > tr > th  {
    text-align: center;
}

#grid-km-item > div > table > thead > tr > th:nth-child(1) {
    text-align: left;
}

.sst-status-tile > .table > tbody > tr > td {
    padding: 0px !important;
}

#SM9, #EasyVista {
    text-align: center
}

canvas {
    margin-top: 3px !important;
}
