#tagcloud {
    word-wrap: break-word;
    overflow-y: hidden !important;
}

.tag-cloud-tile {
    text-align: center !important;
    padding-top:30px;
}

.tag-cloud-tile > a {
    margin-left:2px;
    margin-right:2px;
}

.tagcloud-filler {
color: lightgray;
width: 90%;
margin: 0 auto;
text-align: center;
}

.tagcloud-filler > i {
    color: inherit;
    font-size: 100px;
    margin-top: 30px;
}

.tagcloud-filler > p {
    margin-top: 40px;
    font-size: 25px;
}