<!-- REMOVE AFTER DEMO! -->
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Demo</h2>

@Scripts.Render("~/signalr/hubs")

<script>

    var sendFreeMessage;

    var shout = $.connection.shoutHub;
    // Start the connection.
    $.connection.hub.start({
        transport: ['serverSentEvents', 'webSockets', 'longPolling']
    }).done(function () {

        sendFreeMessage = function (name, message, tag, type) {
            shout.server.demoSendFreeMessage(name, message, tag, type)
        }
});
</script>