<!-- REMOVE AFTER DEMO! -->
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Demo</h2>

@Scripts.Render("~/signalr/hubs")

<script>

    var sendFreeMessage;

    var shout = $.connection.shoutHub;
    // Start the connection.
    $.connection.hub.start({
        transport: ['serverSentEvents', 'webSockets', 'longPolling']
    }).done(function () {

        sendFreeMessage = function (name, message, tag, type, count) {
            for (var i = 0; i < count; i++) {
                shout.server.demoSendFreeMessage(name, message + ' ' + i, tag, type)
            }
            
        }
        });


    $(document).ready(function () {
        
    });

</script>


<input type="button" value="Dialog 1" onclick="sendFreeMessage('CHADPATAT', 'I am a dikke cat.' , '', 'Chat', 10);"/>
