@{
    ViewBag.Title = "Shoutbox";
    ViewBag.Icon = "fa fa-comments";
}
<link href="~/Content/Chat.css" rel="stylesheet" />
<link href="~/Content/Shoutbox.css" rel="stylesheet" />
<script src="~/Scripts/jquery.timeago.js"></script>

<div class="grid-stack" id="shoutbox-grid" data-gs-animate>
    <div class="grid-stack-item" id="chat-tile-wrapper"
         data-gs-x="0" data-gs-y="0"
         data-gs-width="5" data-gs-height="6" data-gs-min-width="3" data-gs-min-height="3">

        <!-- Begin Chat tile -->
        <div class="grid-stack-item-content rabo-drop-shadow" id="chat-tile">
            <!-- Chat Container -->
            <div id="chat-window">
                <div id="chat-filler">
                    <i class="fa fa-comment-o" aria-hidden="true"></i> <br />
                    <p>Er zijn nog geen berichten geplaatst...</p>
                </div>
                <div idx="messages-container">
                    <!-- Begin messages -->
                    <!-- End messages -->
                </div>

                <div id="textbox-wrapper">
                    <div class="input-group input-group-sm" id="text-input">
                        <span class="input-group-addon" id="tag-word"></span>
                        <input type="text" class="form-control" placeholder="Bericht.." aria-describedby="sizing-addon3" onkeyup="UpdateTag(event, this)">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var UpdateTag = function (event, textbox) {

        var textboxvalue = $(textbox).val();
        var textboxwords = textboxvalue.split(' ');

        // Remove the defined tag if backspace is pressed while the textbox is empty
        if (textboxvalue == "") {
            // 8 = Backspace
            if (event.keyCode == '8') {
                $("#tag-word").html("");
                $("#tag-word").removeClass("tag-word-active");
            }
        }


        else if (textboxvalue.charAt(0) == '#') {
            if (textboxwords.length > 1) {
                $("#tag-word").html(textboxwords[0].substring(1));
                $("#tag-word").addClass("tag-word-active")
                textbox.value = textboxwords.slice(1, textboxwords.length).join(" ");
            }
        }
        // 13 = Enter
        else if (event.keyCode == '13') {
            AddMessage("Bubuchenko", "WRR", "@DateTime.UtcNow.ToString("O")", $("#tag-word").text(), textbox.value, true);
            $("#tag-word").html("");
            $("#tag-word").removeClass("tag-word-active");
            textbox.value = "";
        }

    }

    $(function () {
        var options = {
            cellHeight: 80,
            verticalMargin: 10,
            horizontalMargin: 0
        };
        $('.grid-stack').gridstack(options);
    });


    var AddMessage = function (name, division, time, tag, text, autoscroll) {
        time = jQuery.timeago(time); 
        var messageTemplate =
            `<!-- Begin message -->
                    <div id="message">
                        <div id="message-name">` + name + `</div>
                        <div id="message-division" class="badge">` + division + `</div>
                        <div id="message-time"><i class="fa fa-clock-o" aria-hidden="true"></i><abbr datetime="` + time + `"> ` + time + ` </abbr> </div>
                        <div id="message-content">
                            <div id="message-tag" class="label label-primary">` + tag + `</div>
                            <div id="message-text">
                                ` + text + `
                            </div>
                        </div>
                        <hr>
                    </div>
            <!-- End message -->`;

        $("#messages-container").append(messageTemplate);

        if (autoscroll) {
            //Smooth scrolling
            $('#chat-tile').animate({
                scrollTop: $("#chat-tile")[0].scrollHeight, easing: 'easeOutQuart'
            }, 1000);
        }

        $("#chat-tile").getNiceScroll().resize();
    }


    // Instantiate nice scroll
    $("#chat-tile").niceScroll({
        cursorwidth: 5,
        cursorborder: 0,
        cursorcolor: '#d8d8d8',
        cursorborderradius: 0,
        autohidemode: true,
        horizrailenabled: false
    });


    var rtime;
    var timeout = false;
    var delta = 200;
    $("#chat-tile-wrapper").resize(function () {
        rtime = new Date();
        if (timeout === false) {
            timeout = true;
            setTimeout(resizeend, delta);
        }
    });

    function resizeend() {
        if (new Date() - rtime < delta) {
            setTimeout(resizeend, delta);
        } else {
            timeout = false;
            $("#chat-tile").getNiceScroll().resize();
        }
    }

</script>